{{ define "main" }}

<div class="banner">
  <h1>Historian of Southeast Europe and the Global Cold War.<br>
     Researcher. Digital Humanist.</h1>
  <nav class="banner-sections">

    {{ with first 1 (where .Site.RegularPages "File.BaseFileName" "about") }}
      <a href="{{ (index . 0).RelPermalink }}">About</a>
    {{ end }}

    {{ with first 1 (where .Site.RegularPages "File.BaseFileName" "publications") }}
      <a href="{{ (index . 0).RelPermalink }}">Publications</a>
    {{ end }}

    {{ with first 1 (where .Site.RegularPages "File.BaseFileName" "news") }}
      <a href="{{ (index . 0).RelPermalink }}">News</a>
    {{ end }}

    {{ with first 1 (where .Site.RegularPages "File.BaseFileName" "contact") }}
      <a href="{{ (index . 0).RelPermalink }}">Contact</a>
    {{ end }}

    {{ with first 1 (where .Site.RegularPages "File.BaseFileName" "brokers-of-nam") }}
      <a href="{{ (index . 0).RelPermalink }}">Brokers-of-NAM</a>
    {{ end }}

  </nav>
</div>

{{ end }}
